<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adhikari.rupak.jimtrace">

    <application
        android:name=".JimTrace"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.chooser.ChooseActivity" />
        <activity android:name=".ui.main_exercise_view.MainActivity" />
        <activity
            android:name=".ui.addexercise.AddExcersise"
            android:label="@string/title_activity_add_excersise"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>